@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Thin.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Thin-Italic.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Thin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Light.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Light-Italic.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Light-Italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Italic.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Medium.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Medium-Italic.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Bold.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Bold-Italic.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Black.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Black-Italic.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Black-Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Ultra-Black.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Ultra-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PF Benchmark Pro";
  src: url("PF-Benchmark-Pro/PF-Benchmark-Pro-Ultra-Black-Italic.otf") format("opentype"),
       url("PF-Benchmark-Pro/PF-Benchmark-Pro-Ultra-Black-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}