.Card {
  width: 150px;
  
  padding: 15px 25px;
  margin: 25px 15px;
  margin-top: 0;
  border-radius: 15px;

  box-shadow: 0px 0px 44px -13px transparent;
  background-color: rgba(255, 255, 255, 0.6);
  transform: translate(0, 10px);
  transition: box-shadow 0.2s ease, background-color 0.2s ease, transform 0.3s ease-in-out;
}

.Card:hover,
.Card.active {
  cursor: pointer;
  box-shadow: 0px 8px 44px -15px rgba(0,0,0,0.15);
  background-color: white;
}

.Card:hover .card-img,
.Card.active .card-img{
  transform: scale(1.1);
}

.Card .card-img-wrapper {
  height: 150px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Card .card-img {
  width: 90%;
  transition: transform 0.3s ease;
}

.Card .card-name {
  font-weight: 600;
  font-size: 20px;
}

.Card .card-types {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card .card-types .card-type {
  max-width: 20px;
  max-height: 20px;
  padding: 5px;
  transition: margin 0.2s ease-out;
}

.Card .card-types .card-type:hover {
  cursor: help;
  margin: 0 5px;
}