#App {
  text-align: center;
  color: #222;
}

#AppHeader {
  padding: 30px 0;
}

#AppFooter {
  padding-top: 50px;
  padding-bottom: 20px;
}

#AppFooter a {
  text-decoration: none;
  color: inherit;
}

#AppFooter a:hover{
  text-decoration: underline; 
}