@import "/fonts/fonts.css";

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "PF Benchmark Pro";
  background-color: #eef8ff;
}

.container {
  width: 90%;
  max-width: 1800px;
  margin: auto;
}